h1 a {
    color:inherit;
    font-weight: inherit;
}
#edition {
    padding-bottom:50px;
    padding-left:320px;
}

#edition section {
    padding-bottom: 25px;
}

#edition h2, #edition h3 {
    text-transform: capitalize;
}

#edition li {
    line-height: 1.125;
    padding-bottom: 10px;
}

section.archive {
    width: 270px;
}

.archive ul {
    height: 200px;
    overflow-y: scroll;
}

.archive ul li {
    display: inline-block;
    border-right:1px solid #d2d2d2;
    width:89px;
    height: 26px;
    margin: -1px 0;
}

.archive ul li:nth-of-type(3n+2) {

    border-left: 1px solid #fff;
    width:88px;
}

.archive ul li:nth-of-type(3n+3) {

    border-left: 1px solid #fff;
    border-right:none;
    width:88px;
}

@media print, screen and (max-width: 720px) {

    body {
        padding: 25px 50px
    }
    header, footer {
        padding: 0 0 20px 0;
        position: static;
        float:none;
        width: auto;
    }

    #edition {
        padding-left: 0;
    }
}